body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: #333;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.title {
    flex: 3;
}

.title h1 {
    margin: 0;

}

.nav-links {
    list-style: none;
    display: flex;
    flex: 6;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin-left: 0;
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }

    .menu-icon {
        display: block;
        flex: 1;
        text-align: right;
    }

    .title {
        flex: 2;
    }

    .navbar {
        justify-content: space-between;
    }
}
